.everything {
    text-align: center;
}

#calculate {
    background-color: rgb(0, 47, 255);
    border: solid;
    border-color: rgb(0, 47, 255));
    color: white;
    border-radius: 4px;
    width: 200px;
    height: 50px;
}

#calculate:hover{
    background-color: white;
    color: black;
    border: solid;
}

#calculate:active{
    background-color: gray;
    color: black;
    border: solid;
}

#totalAmountText{
    pointer-events: none;
    background-color: 	 #acacac;
    color: white;
    border-radius: 4px;
}

.errorStyle{
    background-color:red;
    border: solid; 
    border-color: red;
}

input{
    text-align: center;
}